<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo</title>
  </head>
  <body>

    <h1>It's a <%=typeOfDay %> Day! </h1>
    <p>Let's get to work</p>

  </body>
</html>
