<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo</title>
  </head>
  <body>

    <h1>Its a <%=typeOfDay %> </h1>


    <ul>
    <li>Buy Food</li>
    <li>Cook Food</li>
    <li>Eat Food</li>
    <% for (item in newListItem){ %>
    <li> <%= newListItem[item] %> </li>
    <% } %>
    </ul>

    <form  action="/" method="post">
      <input type="text" name="newItem" value="" placeholder="Add new task">
      <button type="submit" name="button">Add</button>
    </form>

  </body>
</html>
